<% provide :title, @worker.fullname %>
<div class="row">
  <aside class="col-md-4">
    <section class="worker_info">
      <h1>
        <%= gravatar_for @worker %>
        <%= @worker.fullname %>
      </h1>
    </section>
  </aside>
  <p>
    National Id: <%= @worker.national_id %>
    Email: <%= @worker.email %>
  </p>
</div>